* 
	box-sizing: border-box 
body 
	font-family: "Roboto Condensed", sans-serif 
	color: $color-text-dark
	overflow-y: auto
a
	text-decoration: none
	color: $color-text-dark
button
	background: $color-button
	color: $color-text-white
	border: none
	&:hover
  	cursor: pointer
.boundaries 
	margin: auto 
	display: flex
	justify-content: space-between
.invalid
	color: $color-text-red
	font-size: 12px
	
