.category
  padding-bottom: 60px
  &__content
    width: 100%
    position: relative
  &__wrapper
    display: flex
    justify-content: space-between
  &__item
    width: 265px
    min-height: 240px
    text-align: center
    border: 1px solid #ECEEF2
    border-radius: 8px
    padding-top: 39px
  &__img
    margin-bottom: 14px
  &__title
    margin-bottom: 11px
  &__buttons
    width: 100%
    display: flex
    justify-content: space-between
    z-index: 20
    position: absolute
    top: 50%
    transform: translateY(-50%)
  &__button
    width: 56px
    height: 56px
    border-radius: 50%
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08)
    background: $color-background-white
    &:hover
      background: rgba(21,101,216,0.1)
      box-shadow: none
    &:active
      box-shadow: none
    &--previous
      margin-left: -27px
    &--next
      margin-right: -27px
  &__arrow-right
    transform: rotate(180deg)


    