@media (max-width: 1960px)
  .boundaries
    width: 79.17%
  .best
    &__content
      padding: 0 0 24px 0
      height: 942px
    &__item
      padding: 24px 22px 4px 22px



// --------------------------------------------------
@media (max-width: 1400px)
  .recommended
    &__content
      column-gap: 25px
    &__img
      width: 107px
      height: 160px
    &__name
      font-size: 20px
      margin-bottom: 0
    &__category
      font-size: 14px
      margin-bottom: 15px
  .best
    &__content
      height: 796px
    &__img
      width: 80px
      height: 120px
    &__name
      font-size: 20px
      margin-bottom: 0
  .category
    &__item
      height: 275px
    &__title-box
      height: 64px


// --------------------------------------------------
@media (max-width: 1280px)
  .about-book
    &__content
      grid-template-columns: 55.12% 42.5%
    &__title
      font-size: 40px
      line-height: 50px
    &__autor
      font-size: 18px
    &__buy
      padding: 14px 28px
    &__read
      padding: 13px 37px
  .recommended
    &__content
      column-gap: 20px
    &__book
      margin-right: 15px
    &__name
      font-size: 18px
    &__category
      font-size: 12px
    &__buy
      font-size: 14px
      margin-right: 10px
  .best
    &__content
      height: 790px
    &__name
      font-size: 18px
    &__buy
      font-size: 14px
  .category
    &__title
      font-size: 20px


// --------------------------------------------------
@media (max-width: 1060px)
  .about-book
    &__content
      grid-template-columns: 55.12% 41.93%
    &__description
      grid-row: 1 / 3
    &__title
      margin-top: 0
    &__announcement
      margin-bottom: 20px
    &__img
      width: 144px
      height: 215px
      box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.08)
    &__buttons
      grid-column: 2 / 3
      margin: auto
      display: flex
      flex-direction: column
      justify-content: center
    &__buy
      margin-right: 0
      margin-bottom: 20px
    &__cover
      grid-row: 1 / 2
  .recommended
    width: 47%
    &__content
      grid-template-rows: repeat(3,min-content)
      grid-template-columns: 1fr
      column-gap: 0
      row-gap: 19px
    &__item
      padding: 11px
    &__fade
      &:nth-child(n+4)
        display: none
  .best
    width: 47%
    &__content
      height: 791px
  .category
    &__title
      font-size: 18px
      line-height: 26px
      &-box
        height: 52px
    &__annotation
      font-size: 14px


// --------------------------------------------------
@media (hover: hover) and (min-width: 992px)
  a
    &:hover
      text-decoration: underline 
  .header__button
    animation: moveRight 1s ease 0s 1 forwards
    &:hover
      animation: moveLeft 1s ease 0s 1 forwards
  .recommended__heart
    cursor: pointer
  .category__ref
    &:hover
      text-decoration: none
      

  
// --------------------------------------------------
@media (max-width: 860px)
  .about-book
    &__content
      grid-template-columns: 55.12% 41.6%
    &__title
      width: 100%
    &__announcement
      width: 100%
    &__description
      width: 100%
  .category
    &__wrapper
      flex-wrap: wrap
    &__item
      width: 36.75vw
      min-height: 182px
      height: 182px
      margin-bottom: 10px
    &__img
      width: 36px
      height: 36px
      margin-bottom: 11px
    &__title
      font-size: 16px
      line-height: 20px
      &-box
        height: 40px
        margin-bottom: 8px
    &__annotation
      font-size: 12px
      line-height: 20px


// --------------------------------------------------
@media (max-width: 767px)
  body
    padding-top: 107px
  .menu-mobile-button
    display: flex
  .header
    &__menu
      display: none
    &__button
      display: none
    &_mobile_fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 100
  .menu-mobile
    display: none
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 107px
    padding: 19px 0 23px 0
    overflow-y: auto
    &_visible
      display: block
  .other-books
    flex-direction: column
    padding-top: 28px
    padding-bottom: 56px
    &__line
      width: 100%
      flex-basis: auto
      margin-top: 58px
  .recommended
    width: 100%
    text-align: center
    margin-bottom: 42px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 72px
    &__content
      grid-template-rows: repeat(3,min-content)
      grid-template-columns: 1fr
      row-gap: 7px
    &__item
      padding: 11px 11px 20px 11px
    &__img
      width: 96px
      height: 137px
    &__attribute
      align-items: center
    &__name
      width: 243px
      font-size: 20px
      line-height: 24px
      margin-bottom: 12px
    &__category
      font-size: 14px
      line-height: 20px
      margin-bottom: 16px
    &__price
      font-size: 16px
      line-height: 20px
      margin-bottom: 20px
    &__buy
      font-size: 16px
      line-height: 22px
      padding: 7px 26px
      margin-right: 19px
  .best
    width: 100%
    text-align: center
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 36px
    &__item
      padding: 26px 22px 0 10px
      &:nth-child(n+4)
        display: flex
    &__book
      margin-right: 14px
    &__img
      width: 96px
      height: 142px
    &__attribute
      align-items: start
    &__name
      width: 108px
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      text-align: start
      font-size: 16px
      line-height: 24px
      margin-bottom: 12px
    &__price
      font-size: 20px
      line-height: 24px
      margin-bottom: 14px
    &__buy
      font-size: 16px
      line-height: 22px
      padding: 7px 20px



// --------------------------------------------------
@media (max-width: 640px)
  .about-book
    &__content
      column-gap: 10px
    &__description
      grid-row: 1 / 2
      grid-column: 1 / 3
    &__buttons
      grid-row: 2 / 3
      grid-column: 1 / 2
    &__cover
      grid-row: 2 / 3
      grid-column: 2 / 3
      padding-bottom: 19px
      padding-top: 19px
    &__buy
      padding: 9px 19px
    &__read
      font-size: 16px
      line-height: 22px
      padding: 8px 28px



// --------------------------------------------------
@media (max-width: 549px)
  body
    padding-top: 68px
  .boundaries
    width: 90.625%
  .header
    padding-top: 17px
    padding-bottom: 17px
  .menu-mobile
    top: 68px
  .about-book
    padding-top: 32px
    &__content
      grid-template-rows: min-content min-content min-content
      grid-template-columns: 100%
      column-gap: 0
    &__description
      grid-row: 1 / 2
      grid-column: 1 / 2
      text-align: center
    &__buttons
      grid-row: 2 / 3
      grid-column: 1 / 2
      margin-bottom: 35px
    &__cover
      grid-row: 3 / 4
      grid-column: 1 / 2
      padding-top: 59px
      padding-bottom: 59px
    &__title
      font-size: 32px
      line-height: 40px
      margin-bottom: 24px
    &__autor
      font-size: 16px
    &__announcement
      font-size: 16px
      line-height: 23px
      margin-bottom: 15px
    &__buy
      margin-bottom: 14px
  .recommended
    margin-bottom: 27px
    &__content
      margin-bottom: 9px
    &__fade
      &:nth-child(n+2)
        display: none
    &__item
      flex-direction: column
    &__book
      margin: -36px 0 14px 0
    &__more
      font-size: 16px
      line-height: 20px
      text-transform: none
      padding-top: 14px
      padding-bottom: 14px
      margin: 0
  .best
    &__content
      padding: 0 0 20px 0
      height: 803px
    &__item
      padding: 26px 22px 4px 10px
    &__line
      width: 240px
  .category
    &__item
      width: 43.75vw
      padding: 18px 1px 14px 1px
    &__buttons
      width: 20%
      top: auto
      left: 50%
      margin-top: 19px
      transform: translateX(-50%)





