@media (max-width: 1960px)
  .boundaries
    width: 79.17%

// --------------------------------------------------
// @media (max-width: 1280px)

// --------------------------------------------------
// @media (max-width: 1060px)

// --------------------------------------------------
@media (hover: hover) and (min-width: 992px)
  a
    &:hover
      text-decoration: underline 
  .header__button
    &:hover
      animation: moveLeft 1s ease 0s 1 forwards

  
// --------------------------------------------------
// @media (max-width: 860px)

// --------------------------------------------------
@media (max-width: 767px)
  .menu-mobile-button
    display: flex
  .header
    &__menu
      display: none
    &__button
      display: none
    &_mobile_fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 100
  .menu-mobile
    display: none
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 68px
    padding: 19px 0 23px 0
    overflow-y: auto
    &_visible
      display: block




// --------------------------------------------------
// @media (max-width: 640px)

// --------------------------------------------------
// @media (max-width: 549px)
