@media (max-width: 1960px)
  .boundaries
    width: 79.17%
  .best
    &__content
      padding: 0 0 24px 0
      height: 942px
    &__item
      padding: 24px 22px 4px 22px
  .story
    &__one-img
      width: 100%
      height: 380px
    &__item-img
      width: 100%
      height: 200px
    



// --------------------------------------------------
@media (max-width: 1400px)
  .recommended
    &__content
      column-gap: 25px
    &__img
      width: 107px
      height: 160px
    &__name
      font-size: 20px
      &-box
        margin-bottom: 0
    &__category
      font-size: 14px
      margin-bottom: 15px
  .best
    &__content
      height: 796px
    &__img
      width: 80px
      height: 120px
    &__name
      font-size: 20px
      margin-bottom: 0
  .category
    &__item
      height: 275px
    &__title-box
      height: 64px


// --------------------------------------------------
@media (max-width: 1280px)
  .about-book
    &__content
      grid-template-columns: 55.12% 42.5%
    &__title
      font-size: 40px
      line-height: 50px
    &__autor
      font-size: 18px
    &__buy
      padding: 14px 28px
    &__read
      padding: 13px 37px
  .recommended
    &__content
      column-gap: 20px
    &__book
      margin-right: 15px
    &__name
      font-size: 18px
    &__category
      font-size: 12px
    &__buy
      font-size: 14px
      margin-right: 10px
  .best
    &__content
      height: 790px
    &__name
      font-size: 18px
    &__buy
      font-size: 14px
  .category
    &__title
      font-size: 20px
  .unreleased
      &__buttons
        width: 10%


// --------------------------------------------------
@media (max-width: 1060px)
  .about-book
    &__content
      grid-template-columns: 55.12% 41.93%
    &__description
      grid-row: 1 / 3
    &__title
      margin-top: 0
    &__announcement
      margin-bottom: 20px
    &__img
      width: 144px
      height: 215px
      box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.08)
    &__buttons
      grid-column: 2 / 3
      margin: auto
      display: flex
      flex-direction: column
      justify-content: center
    &__buy
      margin-right: 0
      margin-bottom: 20px
    &__cover
      grid-row: 1 / 2
  .recommended
    width: 47%
    &__content
      grid-template-rows: repeat(3,min-content)
      grid-template-columns: 1fr
      column-gap: 0
      row-gap: 19px
    &__item
      padding: 11px
    &__fade
      &:nth-child(n+4)
        display: none
  .best
    width: 47%
    &__content
      height: 791px
  .category
    &__title
      font-size: 18px
      line-height: 26px
      &-box
        height: 52px
    &__annotation
      font-size: 14px
  .story
    &__header
      flex-direction: column
      text-align: center
      padding-left: 0
      margin-bottom: 35px
    &__title
      width: 100%
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
    &__annotation
      width: 96.55%
      font-size: 18px
      line-height: 25px
      margin-left: 6px
    &__item-name-box
      height: 64px
  .partners
    &__list
      margin-left: 0
      grid-template-rows: min-content min-content
      grid-template-columns: repeat(5, 1fr)
    &__item
      &:nth-child(n+11)
        display: none



// --------------------------------------------------
@media (hover: hover) and (min-width: 992px)
  a
    &:hover
      text-decoration: underline 
  .header__button
    animation: moveRight 1s ease 0s 1 forwards
    &:hover
      animation: moveLeft 1s ease 0s 1 forwards
  .recommended__heart
    cursor: pointer
  .category__ref
    &:hover
      text-decoration: none
  .partners__item-img
    &:hover
      fill: $color-text-dark

  
// --------------------------------------------------
@media (max-width: 860px)
  .about-book
    &__content
      grid-template-columns: 55.12% 41.6%
    &__title
      width: 100%
    &__announcement
      width: 100%
    &__description
      width: 100%
  .category
    // &__wrapper
    //   flex-wrap: wrap
    &__item
      width: 18.4vw
      min-height: 202px
      height: 202px
      margin-bottom: 10px
    &__img
      width: 36px
      height: 36px
      margin-bottom: 11px
    &__title
      font-size: 16px
      line-height: 20px
      &-box
        height: 40px
        margin-bottom: 8px
    &__annotation
      font-size: 12px
      line-height: 20px
  .unreleased
      &__buttons
        width: 15%
  .story__item
    &-name
      font-size: 16px
      line-height: 20px
      &-box
        height: 20px
    &-annotation
      font-size: 12px
      line-height: 20px
  .partners
    &__list
      grid-template-rows: min-content min-content
      grid-template-columns: repeat(4, 1fr)
    &__item
      &:nth-child(n+9)
        display: none


// --------------------------------------------------
@media (max-width: 767px)
  body
    padding-top: 107px
  .menu-mobile-button
    display: flex
  .header
    &__menu
      display: none
    &__button
      display: none
    &_mobile_fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 100
  .menu-mobile
    display: none
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 107px
    padding: 19px 0 23px 0
    overflow-y: auto
    &_visible
      display: block
  .other-books
    flex-direction: column
    padding-top: 28px
    padding-bottom: 56px
    &__line
      width: 100%
      flex-basis: auto
      margin-top: 58px
  .recommended
    width: 100%
    text-align: center
    margin-bottom: 42px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 72px
    &__content
      grid-template-rows: repeat(3,min-content)
      grid-template-columns: 1fr 1fr
      row-gap: 7px
      column-gap: 7px
    &__fade
      &:nth-child(n+4)
        display: block
    &__item
      flex-direction: column
      padding: 11px 11px 20px 11px
    &__img
      width: 96px
      height: 137px
    &__attribute
      align-items: center
    &__name
      font-size: 20px
      line-height: 24px
      &-box
        height: 48px
        margin-bottom: 12px
    &__category
      font-size: 14px
      line-height: 20px
      margin-bottom: 16px
    &__price
      font-size: 16px
      line-height: 20px
      margin-bottom: 20px
    &__buy
      font-size: 16px
      line-height: 22px
      padding: 7px 26px
      margin-right: 19px
  .best
    width: 100%
    text-align: center
    &__content
      height: 500px
      flex-direction: row
      flex-wrap: wrap
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 36px
    &__item
      width: 45%
      // flex-direction: column
      padding: 26px 5px 0 5px
      &:nth-child(n+4)
        display: flex
    &__book
      margin-right: 14px
    &__img
      width: 96px
      height: 142px
    &__attribute
      align-items: start
    &__name
      width: 108px
      font-family: Roboto Condensed
      font-style: normal
      font-weight: bold
      text-align: start
      font-size: 16px
      line-height: 24px
      margin-bottom: 12px
    &__price
      font-size: 20px
      line-height: 24px
      margin-bottom: 14px
    &__buy
      font-size: 16px
      line-height: 22px
      padding: 7px 20px
    &__more
      flex-basis: 100%
  .category
    padding-bottom: 88px
    &__item
      width: 23.28vw
  .story
    &__videos
      grid-template-columns: repeat(2, 1fr)
      column-gap: 20px
      row-gap: 15px
    &__one
      grid-row: 1 / 2
      grid-column: 1 / 3
      &-img
        height: 210px
      &-video
        &-button
          width: 56px
          height: 56px
        &-arrow
          width: 17px
          height: 22px
    &__item
      &:nth-child(n+4)
        display: none
      &-video-arrow
        width: 21px
        height: 27px







// --------------------------------------------------
@media (max-width: 640px)
  .about-book
    &__content
      column-gap: 10px
    &__description
      grid-row: 1 / 2
      grid-column: 1 / 3
    &__buttons
      grid-row: 2 / 3
      grid-column: 1 / 2
    &__cover
      grid-row: 2 / 3
      grid-column: 2 / 3
      padding-bottom: 19px
      padding-top: 19px
    &__buy
      padding: 9px 19px
    &__read
      font-size: 16px
      line-height: 22px
      padding: 8px 28px
  .best
    &__content
      height: auto
      justify-content: start
    &__item
      flex-direction: column
      padding: 26px
    &__attribute
      align-items: center
  .category
    &__item
      width: 43.6vw
      padding: 18px 1px 14px 1px
    &__buttons
      width: 20%
      top: auto
      bottom: 0
      left: 50%
      margin-top: 19px
      transform: translateX(-50%)
  .unreleased
    padding-top: 20px
    padding-bottom: 131px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      margin-bottom: 41px
    &__buttons
      width: 21%
      top: auto
      bottom: -84px
      right: auto
      left: 50%
      margin-top: 19px
      transform: translateX(-50%)
    &__button
      width: 48px
      height: 48px
  .partners
    &__list
      grid-template-rows: min-content min-content
      grid-template-columns: repeat(3, 1fr)
    &__item
      &:nth-child(n+7)
        display: none
      

// --------------------------------------------------
@media (max-width: 549px)
  body
    padding-top: 68px
  .boundaries
    width: 90.625%
  .header
    padding-top: 17px
    padding-bottom: 17px
  .menu-mobile
    top: 68px
  .about-book
    padding-top: 32px
    &__content
      grid-template-rows: min-content min-content min-content
      grid-template-columns: 100%
      column-gap: 0
    &__description
      grid-row: 1 / 2
      grid-column: 1 / 2
      text-align: center
    &__buttons
      grid-row: 2 / 3
      grid-column: 1 / 2
      margin-bottom: 35px
    &__cover
      grid-row: 3 / 4
      grid-column: 1 / 2
      padding-top: 59px
      padding-bottom: 59px
    &__title
      font-size: 32px
      line-height: 40px
      margin-bottom: 24px
    &__autor
      font-size: 16px
    &__announcement
      font-size: 16px
      line-height: 23px
      margin-bottom: 15px
    &__buy
      margin-bottom: 14px
  .recommended
    margin-bottom: 27px
    &__content
      grid-template-rows: min-content
      grid-template-columns: 1fr
      row-gap: 0
      column-gap: 0
      margin-bottom: 9px
    &__attribute
      padding-top: 0
    &__fade
      margin-bottom: 15px
      &:nth-child(n+2)
        display: none
    &__book
      margin: -36px 0 14px 0
    &__name-box
      height: 24px
    &__more
      font-size: 16px
      line-height: 20px
      text-transform: none
      padding-top: 14px
      padding-bottom: 14px
      margin: 0
  .best
    &__content
      padding: 0 0 20px 0
    &__item
      flex-basis: 100%
      flex-direction: row
      justify-content: start
      padding: 26px 22px 5px 15px
    &__attribute
      justify-content: start
      align-items: start
    &__name
      margin-top: 5px
    &__line
      width: 240px
      margin-top: 30px
      margin-bottom: 21px
  .category__content
    height: 424px
  .story
    padding-top: 44px
    padding-bottom: 41px
    &__videos
      width: 103%
    &__item
      &-img
        height: 140px
      &-video-arrow
        top: 22%
      &-bottom
        flex-direction: column
        align-items: center
      &-name
        text-align: center
        margin-top: 9px
        &-box
          margin-bottom: 4px
      &-favourite
        width: 10px
        height: 14px
        margin-top: 16px
  .partners
    padding-top: 13px
    padding-bottom: 50px
    &__title
      line-height: 30px
      margin-bottom: 32px
    &__list
      width: 83%
      grid-template-rows: repeat(3, min-content)
      grid-template-columns: repeat(2, 2fr)
      column-gap: 13px
      row-gap: 18px
      margin-left: 38px
    &__item-img
      width: 87px
      height: 28px








