.recommended
  &__title
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    letter-spacing: 0.2px
  &__content
    display: grid
    grid-template-rows: min-content min-content min-content
    grid-template-columns: 40% 40%
    column-gap: 32px
    row-gap: 32px
  &__item
    display: flex
    border: 1px solid #ECEEF2
    border-radius: 8px
    padding: 11px
  &__book
    margin-right: 20px
  &__img
    width: 160px
    height: 240px
    object-fit: cover
    border-radius: 8px
  &__attribute
    display: flex
    flex-direction: column
