.registration
  &__content
    height: 236px
    align-items: center
    justify-content: space-between
    position: relative
    background: $color-text-blue
    color: $color-text-white
    border-radius: 12px
    overflow: hidden
    &::after
      content: ''
      position: absolute
      /*  background: linear-gradient(270deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 99.73%); */
      opacity: 0.2
      width: 786px
      height: 786px
      border-radius: 50%
      border: 200px solid $color-background-white
      top: -980px
      left: -556px
    &::before
      content: ''
      position: absolute
      /*  background: linear-gradient(270deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 99.73%); */
      opacity: 0.2
      width: 786px
      height: 786px
      border-radius: 50%
      border: 200px solid $color-background-white
      top: -60px
      left: 484px
  &__subscribe
    width: 34.47%
    margin-left: 60px
    margin-top: -20px
  &__title
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    margin: 0
  &__item
    display: flex
    flex-direction: column
    width: 447px
    position: relative
    margin-right: 63px
  &__bar
    overflow: hidden
  &__img
    position: absolute
    left: 20px
    top: 22px
  &__text
    width: 447px
    height: 55px
    padding-left: 47px
    padding-right: 70px
    font-weight: 600
    font-size: 16px
    line-height: 22px
    border: 1px solid #C3CAD9
    border-radius: 4px
    overflow: hidden
    color: #959EAD
  &__button
    min-width: 163px
    height: 48px
    border-radius: 4px
    position: absolute
    right: 4px
    top: 4px
    font-weight: bold
    font-size: 16px
    line-height: 22px
    background: #FAAD13
