.story
  padding-top: 104px
  padding-bottom: 100px
  &__content
    flex-direction: column
  &__header
    display: flex
    justify-content: flex-start
  &__title
    width: 57.48%
    font-family: Roboto Condensed
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
  &__annotation
    width: 42.52%
    font-size: 18px
    line-height: 32px
  &__videos
    display: grid
    grid-template-rows: min-content min-content
    grid-template-columns: repeat(3, 1fr)
    column-gap: 34px
    row-gap: 34px
  &__one
    grid-row: 1 / 2
    grid-column: 1 / 4
    &-img


